* {
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.nunito{
    font-family: 'Nunito', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    height: 100vh;
    background-color:rgba(0, 0, 0, 1);
}

.top-bar{
    position: absolute;
    width: 100vw;
    height: 15vh;
    border: solid lime 2px;
    /* background-color: grey; */
}

.top-text{
    font-size: 40px;
    color: white;
    font-weight: bold;
}

.mid-bar{
    position: absolute;
    top: 20vh;
    left: 35vw;
    width: 30vw;
    height: 70vh;
    border: solid lime 1px;
    /* background-color: grey; */
}

/* inptu------- */


.input-group {
    position: relative;
   }
   
   .input {
    border: solid 1.5px lime;
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    /* font-weight: bold; */
    color: white;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
   }
   
   .user-label {
    position: absolute;
    left: 15px;
    color: white;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
   }
   
   .input:focus, input:valid {
    outline: none;
    border: 1.5px solid lime;
   }
   
   .input:focus ~ label, input:valid ~ label {
    transform: translateY(-50%) scale(0.8);
    background-color: black;
    padding: 0 .2em;
    color: white;
   }


/* button ------------- */

.btn {
    
    left: 1.5vw;
    width: 12vw;
    position: relative;
    height: 3.5em;
    border: 3px ridge lime;
    outline: none;
    background-color: transparent;
    color: white;
    transition: 1s;
    border-radius: 0.3em;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.btn::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: black;
    transition: 0.5s;
    transform-origin: center;
}

.btn::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 80%;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: black;
    transition: 0.5s;
}

.btn:hover::before, button:hover::after {
    transform: scale(0)
}

.btn:hover {
    box-shadow: inset 0px 0px 25px lime;
}

/* reg button */
.reg-bar{
    position: absolute;
    top: 90vh;
    width: 100%;
    height: 5vh;
    font-size: 1em;
    font-weight: bold;

    /* border: solid red 1px; */
    /* 
    background-color: grey; */
}

.reg-txt{
    color: white;
}

.reg-but{
    color: lightblue;
}
