* {
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    height: 100vh;
    background-color:rgba(0, 0, 0, 1);
}

.top-bar{
    position: absolute;
    width: 100vw;
    height: 15vh;
    border: solid red 2px;
    /* background-color: grey; */
}

.top-text{
    font-size: 40px;
    color: white;
}

.mid-bar{
    position: absolute;
    top: 40vh;
    left: 25vw;
    width: 50vw;
    height: 30vh;
    border: solid red 1px;
    /* background-color: grey; */
}

.mid-text{
    font-size: 1rem;
    color: white;
}

.test{
    opacity: 0;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.form-control {
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    padding: .5rem 0;
    width: 20rem;
    height: 38px;
    background-color: transparent;
    color:white;
}

.form-control:focus {
    border-color: white;
}

.form-group {
    margin-bottom: 1.75rem;
    overflow: auto;
}

.form-group label {
    border-bottom: 2px solid red;
    width: 10rem;
    /* display: inline-block; */
    height: 38px;
    line-height: 38px;
    padding: 0;
    float: left;
    position: relative;
}

.btn-block {
    width: 100%;
    display: -ms-flexbox;
    display: flex
}

.btn {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    padding: .5rem 2rem;
    font-size: 1rem;
    position: relative;
    z-index: 1;
    margin-bottom: .75rem;
}

.btn-primary {
    color: red;
    background-color: black;
    border: 1px solid red;
}
