* {
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.nunito{
    font-family: 'Nunito', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    height: 100vh;
    background-color:rgba(0, 0, 0, 1);
}

.top-bar{
    position: absolute;
    width: 100vw;
    height: 15vh;
    border: solid blue 2px;
    /* background-color: grey; */
}

.top-text{
    font-size: 40px;
    color: white;
    font-weight: bold;
}

.form-div{
    position: absolute;
    width: 100vw;
    height: 85vh;
    top: 15vh;
}

.mid-bar{
    position: absolute;
    top: 20vh;
    left: 25vw;
    width: 50vw;
    height: 40vh;
    border: solid blue 1px;
    /* background-color: grey; */
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

/* INPUT ----------------*/
/* .input-container {
    position: relative;
    margin: 50px auto;
    width: 200px;
  }
  
  .input-container input[type="text"] {
    font-size: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 5px 0;
    background-color: transparent;
    outline: none;
  }
  
  .input-container .label {
    position: absolute;
    top: 0;
    left: 0;
    color: #ccc;
    transition: all 0.3s ease;
    pointer-events: none;
  }
  
  .input-container input[type="text"]:focus ~ .label,
  .input-container input[type="text"]:valid ~ .label {
    top: -20px;
    font-size: 16px;
    color: #333;
  }
  
  .input-container .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #333;
    transform: scaleX(0);
    transition: all 0.3s ease;
  }
  
  .input-container input[type="text"]:focus ~ .underline,
  .input-container input[type="text"]:valid ~ .underline {
    transform: scaleX(1);
  }
       */

    .form-group {
        margin-bottom: 1.75rem;
        overflow: auto
    }
    
    .form-group label {
        border-bottom: 2px solid #ccc;
        color: white;
        width: 10rem;
        display: inline-block;
        height: 38px;
        line-height: 38px;
        padding: 0;
        float: left;
        position: relative
    }
    
    .form-group.form-success label {
        color: #4caf50 !important;
        border-color: #4caf50 !important
    }
    
    .form-group.form-warning label {
        color: #ff9800 !important;
        border-color: #ff9800 !important
    }
    
    .form-group.form-error label {
        color: #f44336 !important;
        border-color: #f44336 !important
    }
    
    .form-control {
        outline: none;
        border: none;
        color: white;
        border-bottom: 2px solid #ccc;
        padding: .5rem 0;
        width: 20rem;
        height: 38px;
        background-color: transparent;
    }   
    
    .form-control:focus {
        border-color: #555;
    }
    
    .form-group.form-textarea label:after {
        position: absolute;
        content: "";
        width: 2px;
        background-color: #fff;
        right: -2px;
        top: 0;
        bottom: 0
    }
    
    textarea.form-control {
        height: auto;
        resize: none;
        padding: 1rem 0;
        border-bottom: 2px solid #ccc;
        border-left: 2px solid #ccc;
        padding: .5rem
    }       
/* BUTTON ----------------*/

.btn {
    left: .5vw;
    width: 12vw;
    position: relative;
    height: 3.5em;
    border: 3px ridge blue;
    outline: none;
    background-color: transparent;
    color: white;
    transition: 1s;
    border-radius: 0.3em;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;

    margin: 0 auto;
    display: block;
}

.btn::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: black;
    transition: 0.5s;
    transform-origin: center;
}

.btn::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 80%;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: black;
    transition: 0.5s;
}

.btn:hover::before, button:hover::after {
    transform: scale(0)
}

.btn:hover {
    box-shadow: inset 0px 0px 25px blue;
}

/* reg button */
.reg-bar{
    position: absolute;
    top: 60vh;
    width: 100%;
    height: 5vh;
    font-size: 1em;
    font-weight: bold;
    /* border: solid red 1px; */
    /* 
    background-color: grey; */
}

.reg-txt{
    color: white;
}

.reg-but{
    color: lightblue;
}

